@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400i');
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 18px "Bitter", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14.64px; }

/**
 * Lists
 */
ul, ol {
    margin-left: 30px;
    
}

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
    line-height: 36px;
}
h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    
}
h3 {
    font-size: 1.17em;
    margin: 1em 0
}
h4 {
    font-size: 1em;
    margin: 1.33em 0
}
h5 {
    font-size: 0.83em;
    margin: 1.67em 0
}
h6 {
    font-size: 0.75em;
    margin: 2.33em 0
}

/**
 * iframe
 */

iframe {
  display: block;
  margin: 5px auto;
}


/**
 * Code formatting, 
 */
/**
 * Wrapper
 */
.wrapper, #page-content {
    width: 75%;
    max-width: 850px;
  margin: 0 auto;
  padding-right: 4px;
  padding-left: 4px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(840px - (30px));
      max-width: calc(840px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(840px - (30px));
      max-width: calc(840px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
#site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px;
  font-family: "Open Sans"; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #727272;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg path {
          fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  font-family: "Open Sans"; }

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px; }

.site-footer .column {
  float: left;
  margin-bottom: 15px; }

.footer-col-1 {
  width: 270px;
  /*fallback*/
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px; }

.footer-col-2 {
  width: 175px;
  /*fallback*/
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px; }

.footer-col-3 {
  width: 335px;
  /*fallback*/
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
  text-align: right;
  padding-right: 30px; }

.site-footer ul {
  list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  line-height: 1.5;
  color: #828282; }

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px; }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

/**
 * Page content
 */
#page-content {
  padding-top: 20px;
  padding-bottom: 20px; 
}

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  
  display: block;
  font-size: 14.64px;
  color: #828282; }

.post-date {
  font-family: "Lato";
  font-size: 12px;
  color: #828282; 
  margin-right: 1em;
}
.post-meta > *:after {
  display: inlineblock;
  margin: 0 0.6em;
  content: " - "; }

.post-meta > *:last-child:after {
  content: ""; }

.post-link {
  color: rgba(0, 0, 0, 0.75);
  display: inline;
  font-size: 1.1em;
  transition: .3s;
}

.post-link:hover {
    color: #a5573e;
}

.post-tag a {
  color: #828282; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
      font-size: 20px; }

  @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
